{% extends 'base.html' %}
{% block title %}das blog | I make mistakes, so you don't have to{% endblock title %}
{% block navbar %}
{% include 'inserts/navbar.html' %}
{% endblock navbar %}
{% block content %}
<section class="post-list">
    {% for post in posts %}
    <article>
        <div class="post">
            <header>
                <h1 class="text-center">{{ post.title | title }}</h1>
                <p><small><span class="fa fa-calendar-o"></span> {{ post.pub_date.strftime('%d %m %Y') }} by {{post.user.username}}</small></p>
            </header>
            <section class="summary">
                <p>{{ post.summary }}</p>
                <p class="text-left"><a href="{{url_for('blog.post_view', post_slug=post.slug) }}">I demand more</a></p>
            </section>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock content %}