{% extends 'admin/admin_base.html' %}
{% block header %}
Dashboard
{% endblock header %}
{% block content %}
<div class="container">
    <section>
        <div class="row">
            <article>
                <div class="col-md-4 col-sm-12">
                    <div class="stats">
                        <header>
                            <h3 class="text-center">Posts:</h3>
                        </header>
                        <section>
                            <p class="text-center"><span class="fa fa-file-text fa-2x"></span> {{ posts }}<p>
                        </section>
                    </div>
                </div>
            </article>
            <article>
                <div class="col-md-4 col-sm-12">
                    <div class="stats">
                        <header>
                            <h3 class="text-center">Users:</h3>
                        </header>
                        <section>
                            <p class="text-center"><span class="fa fa-user fa-2x"></span> {{ users }}<p>
                        </section>
                    </div>
                </div>
            </article>
            <article>
                <div class="col-md-4 col-sm-12">
                    <div class="stats">
                        <header>
                            <h3 class="text-center">Scrapers:</h3>
                        </header>
                        <section>
                            <!-- TODO -->
                            <p class="text-center"><span class="fa fa-eye fa-2x"></span><p>
                        </section>
                    </div>
                </div>
            </article>
        </div> <!-- end row -->
    </section>
</div> <!-- end container -->
{% endblock content %}

