{% extends 'admin/admin_base.html' %}
{% block header %}
Pages
{% endblock header %}
{% block content %}
<section>
    <div class="container">
        <a href="#" class="btn btn-primary btn-block">Add new page</a>
    </div>
</section>
<br>
<section>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Created</th>
                        <th>Modified</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                    <tr>
                        <th scope="row">{{ page.id }}</th>
                        <td>{{ page.title }}</td>
                        <td>{{ page.created.strftime('%d-%m-%Y') }}</td>
                        <td>{% if page.modified %}{{ page.modified.strftime('%d-%m-%Y') }}{% endif %}</td>
                        <td><a href="{{ url_for ('admin.edit_post', post_id=post.id) }}"><span class="fa fa-pencil fa-2x"></span></a></td>
                        <td><a href="{{ url_for ('admin.delete_post', post_id=post.id) }}"><span class="fa fa-trash fa-2x"></span></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock content %}