{% extends 'base.html' %}
{% block title %}das blog | I make mistakes, so you don't have to{% endblock title %}
{% include 'inserts/navbar.html' %}
{% block content %}
<header>
    <h1 class="text-center">Posts</h1>
</header>
<section>
    {% for post in posts %}
    <article>
        <header>
            <h3 class="text-center">{{ post.title }}</h3>
        </header>
        <section>
            <p>{{ summary }}</p>
            <p><a href="{{url_for('blog.post_view', post_title=post.title) }}">I demand more</a></p>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock content %}