    <nav class="nav navbar-default" role="navigation">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <h1>dasBlog</h1>
            </div>
            <div class="collapse navbar-collapse" id="admin">
                <ul class="nav navbar-nav navbar-right">
                    <li {% if page == 'main' %}class="active"{% endif %}><a href="{{ url_for('blog.main') }}" class="text-center">Home</a></li>
                    <li {% if page == 'about' %}class="active"{% endif %}><a href="{{ url_for('blog.about') }}"class="text-center">About</a></li>
                    <li {% if page == 'links' %}class="active"{% endif %}><a href="{{ url_for('blog.links') }}"class="text-center">Links</a></li>
                </ul>
            </div>
        </div>
    </nav>