/*
 * COLOR SCHEME
 * https://coolors.co/app/14080e-49475b-799496-acc196-e9eb9e
 * body: #799496
 * navbar: #49475B
 * h1-h6: #E9EB9E
 * a: #ACC196
 * p: #14080E
 */

/*
 * MEDIA QUERIES
 * media queries are built on top of boostrap
 */


/* COMMON */
body {
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    background-color: #799496;
}

main {
    min-height: 80vh;
}

nav, .nav, .nav-bar {
    background-color: #49475B;
}

pre {
    border: none;
    border-radius: 8px;
}

pre, code {
    background-color: #424242;
    color: white;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    color: #E9EB9E;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 1.4em;
    color: #14080E;
}

a {
    color: #ACC196;
}

/* footer */
footer {
    margin-top: 1em;
    padding: 1em auto;
    border-top: 1px solid #495867;
}

/* login form */
.form-wrapper {
    margin-left:auto;
    margin-right:auto;
    margin-top:10vh;
    max-width:500px;
    padding: 40px;
}

/* admin */
.navbar-header {
    padding: 5px 0;
}

.admin-btn {
    background-color: none;
}

.stats {
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.stats p {
    font-size: 3.2em;
}

/* add-post */
.help {
    display: inline-block;
    background: none;
}

.preview {
    margin-bottom: 10px;
    padding: .5em;
    background-color: #EEE;
    min-height: 10vh;
}

/* blog */
/* navbar */
.navbar-nav li, .navbar-nav a {
    margin: auto 0;
}

.nav,
.navbar-nav {
    font-size: 2em;
}

.navbar-default .navbar-nav>.active>a {
    background: inherit;
    color: #FFF;
}

.navbar-default .navbar-nav>.active>a:hover {
    background-color: inherit;
    color: #CCC;
}

/* main */
.post-list {
    margin: 1em auto;
    width: 60%;
    padding: 2em;
}

@media (max-width: 992px) {
    .post-list {
        width: 90%;
    }
}

.post {
    background-color: #FFF;
    margin: 2em 0;
    padding: 0.5em 2em;
    -webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
}

.post p {
    font-size: 2em;
}

.summary {
    color: #555;
}

.post a:hover {
    color: #000;
    text-decoration: none;
}

.single-post {
    width: 60%;
    margin: 2em auto;
    padding: 1em 2em;
    background-color: #FFF;
}

@media (max-width: 992px) {
    .single-post {
        width: 90%;
    }
}

.single-post-text {
    font-size: 1.8em;
    line-height: 1.5;
}

/* about, links ... */
/* use .post */