/* COLOR SCHEME*/
/* https://coolors.co/app/ecc8af-e7ad99-ce796b-c18c5d-495867 */
/* body: #ECC8AF  */
/* navbar: #495867 */
/* h1-h6: #CE796B */
/* a: #E7AD99 */

/* MEDIA QUERIES*/
/* media queries are built on top of boostrap */


/* CSS */
/* common */
body {
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    background-color: #ECC8AF;
}

main {
    min-height: 80vh;
}

nav, .nav, .nav-bar {
    background-color: #495867;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    color: #CE796B;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 1.4em;
}

a {
    color: #E7AD99;
}

/* footer */
footer {
    border-top: 1px solid #495867;
}

footer a {
    color: #000;
}

/* login form */
.form-wrapper {
    margin-left:auto;
    margin-right:auto;
    margin-top:10vh;
    max-width:500px;
    padding: 40px;
}

/* admin */
.navbar-header {
    padding: 5px 0;
}

.admin-btn {
    background-color: none;
}

.stats {
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.stats p {
    font-size: 32px;
}

/* add-post */
.help {
    display: inline-block;
    border-radius: 50%;
}

.preview {
    margin-bottom: 10px;
    background-color: #EEE;
    min-height: 10vh;
}

code {
    background-color: #424242;
    color: white;
}

/* blog */
/* navbar */
.navbar-nav li, .navbar-nav a {
    margin: auto 0;
}

.nav,
.navbar-nav {
    font-size: 2em;
}

.navbar-default .navbar-nav>.active>a {
    background: inherit;
    color: #FFF;
}

.navbar-default .navbar-nav>.active>a:hover {
    background-color: inherit;
    color: #CCC;
}

/* main */
.post-list {
    margin: 1em auto;
    width: 60%;
    padding: 2em;
}

@media (max-width: 992px) {
    .post-list {
        width: 90%;
    }
}

.post {
    background-color: #FFF;
    margin: 2em 0;
    padding: 0.5em 2em;
    -webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
}

.post p {
    font-size: 2em;
}

.summary {
    color: #555;
}

.post a:hover {
    color: #000;
    text-decoration: none;
}

/* about, links ... */
/* use .post */