{% extends 'admin/admin_base.html' %}
{% block header %}Users{% endblock header %}
{% block content %}
<section>
    <div class="container">
        <section>
            <div class="container">
                <a href="{{ url_for('admin.add_user') }}" class="btn btn-primary btn-block">Add new user</a>
            </div>
        </section>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td><a href="{{ url_for('admin.edit_user', user_id=user.id) }}" class="btn btn-success"><span class="fa fa-pencil"></span></a></td>
                    {% if user.id != current_user.id %}
                    <td><a href="{{ url_for('admin.delete_user', user_id=user.id) }}" class="btn btn-danger"><span class="fa fa-trash"></span></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock content %}